/* Nature Theme */
:root {
  --violet: #413395;
}

/* Nature Carousel styling */
#nature #introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

#nature .carousel-item:nth-child(1) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#nature .carousel-item:nth-child(2) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#nature .carousel-item:nth-child(3) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #nature #introCarousel {
    margin-top: -58.59px;
  }
}

#nature .navbar .nav-link {
  color: #fff !important;
}

/* Nature Navbar Styling */
#nature .navbar {
  z-index: 2000;
}

#nature .navbar-brand, #nature h1 {
  font-family: 'Lora', serif;
  transform: scale(1.2);
  transition: all .2s ease;
}

/* Nature Custom Styling */
#nature #navbarExample01 li:hover i {
  transform: scale(1.2); 
  transition: all .2s ease;
}
#nature #navbarExample01 li:hover a {
  transform: scale(1.1); 
  transition: all .2s ease;
}
#nature .btn-primary {
  background-color: var(--violet);
}
#nature footer a {
  color: var(--violet);
}
#nature footer a:hover {
  color: black;
}
#nature #copyright {
  background-color: black;
  color: white;
}

/* Reader Theme */
#reader .divider-new {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

#reader .divider-new:before {
  margin: 0 1.5rem 0 0;
}

#reader .divider-new:after {
  margin: 0 0 0 1.5rem;
}

#reader .divider-new:after,
.divider-new:before {
  content: '';
  flex: 1;
  height: 1px;
  background: #000;
}

body#reader {
  color: #000;
}

#reader .link-black {
  text-decoration: underline;
  color: #000;
  text-decoration-color: transparent;
  transition: 0.3s;
}

#reader .link-black:hover {
  text-decoration-color: #000;
}

#reader .mt-n6 {
  margin-top: -30px;
}
#reader .btn-floating {
  position: absolute;
  top: 10px;
  right: 10px;
}
#reader .btn-floating.btn-lg .far {
  padding-top: 1px;
  padding-left: 1px;
  color: #000;
}

/* Reader Theme */
#science .item {
  background-image: url("data:image/svg+xml,");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}